@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
.gradient-border {
  border: 2px solid transparent; /* Required to show the gradient border */
  background-clip: padding-box; /* Ensures the background gradient stays inside the border */
  background: linear-gradient(#f6f6f6, #f6f6f6) padding-box,
    linear-gradient(to bottom right, #ffffff 35.82%, #274797 93.92%) border-box;
}
.card-border {
  border: 2px solid transparent; /* Required to show the gradient border */
  background-clip: padding-box; /* Ensures the background gradient stays inside the border */
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(to bottom right, #ffffff 35.82%, #274797 93.92%) border-box;
}

.overlay::before,
.overlay::after {
  @apply absolute content-[''] top-0 w-[25px] sm:w-[100px] h-full z-10;
}
.before-overlay::before {
  @apply left-0 bg-gradient-to-l from-transparent to-[#f0f0f0];
}
.after-overlay::after {
  /* @apply right-0 bg-gradient-to-r from-transparent to-[#F5F5F5]; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.text-shadow-1 {
  text-shadow: 10px 8px 2px rgba(125, 125, 125, 0.25);
}
.text-shadow-2 {
  text-shadow: 20px 16px 4px rgba(125, 125, 125, 0.25);
}
.text-shadow-3 {
  text-shadow: 20px 16px 4px rgba(125, 125, 125, 0.25);
}
.text-shadow-4 {
  text-shadow: 20px 16px 4px rgba(125, 125, 125, 0.25);
}
.text-awesome {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(146deg, #2e50a5 20.95%, #ebebeb 92.64%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
